<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IntentsandIntentFilters"
        tools:targetApi="31">

        <!--EN el launchMode con top  significa que si nuestra aplicacion ya esta abierta simplemente
        se tomara esa instancia y se enviaran los datos a esa instancia activa-->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/Theme.IntentsandIntentFilters">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        <!--Definimos un intent filte-->
        <!--El tipo de intent que nuestra app puede recibir -->
        <!--El tipo de dato que queremos recibir con ese intent-->
        <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="andoid.intent.category.DEFAULT"/>
                <data android:mimeType="image/*"/>
            </intent-filter>
        </activity>
        <!--Definimos la segunda actividad-->
        <activity android:name=".SecondActivity"/>
    </application>

    <!--Definimos el intent que queremos enviar-->
    <!--Especificamos la action-->
    <!--Especificamos el tipo de dato-->
    <queries>
        <intent>
            <action android:name="android.intent.action.SEND" />
            <data android:mimeType="text/plain" />
        </intent>
    </queries>
</manifest>